@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');

body {
  font-family: "Annie Use Your Telescope", cursive;
    font-size: 20px;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  background: url("background.jpg");
  background-repeat: no-repeat;
}

button, input[type=submit] {
  background-color: rgb(175, 200, 250);
  border-color: white;
  border-style: dashed;
  border-radius: 2px;
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
button:hover, input[type=submit]:hover {
  background-color: rgb(146, 174, 230);
}

button, select{
  cursor: pointer;
  font-family: "Annie Use Your Telescope", cursive;
}

.header {
  width: 100%;
  background: url("head.jpg");
  position:absolute;
  top:0px;
}

.headLink {
  color: white;
  position: relative;
  bottom:2.5vh;
  font-weight: bold;
}

.headSocial {
  color: white;
  position: relative;
  bottom:2vh;
  font-weight: bold;
}

.headBird{
  width: 4%;
  border-radius: 100px;
}

.footer {
  background-color: rgb(175, 200, 250);
  color: white;
}

.content {
  width: 375px;
  position: absolute;
  
}

.imageLoading {
  background-color: white;
  position: absolute;
  top:2.5%;
  width: 100%;
  height:100%;
  padding-top: 25%;
}


@media (max-width: 991px) {
  .footer {
    bottom:0px;
  }
  .imageLoading {
    top:2%;
  }
  .headLink {
    bottom:1vh;
  }
  
  .headSocial {
    bottom:0.5vh;
  }
  
  .headBird{
    width: 4.5%;
  }

  body {
    background: url("background-mid.jpg");
  }
}

@media (max-width: 480px) {
  .imageLoading {
    top:70px;
  }
  .headLink {
    bottom:2.5vh;
  }
  
  .headSocial {
    bottom:2vh;
  }
  
  .headBird{
    width: 10%;
    position: relative;
    top:1.5vh;
  }
  .insideTitle{
    position: relative;
    left: 2px;
    top:2px;
  }

  body {
    width: 100%;
    overflow-x: hidden;
    background: url("background-small.jpg");
  }
}
